# Environment & Cache
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Large Data & ROOT Files
*.root

# Artifact & Log files
*.log

# Data & Extension files
data/cache/
*.vsix

# Saved Models
saved_models/*.pt


